{% extends 'recipe_log/base.html' %}

{% block page_header %}
  <div class="p-3 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-4">
      <h1 class="display-3">The home of cooking recipes.</h1>

      <p>
        The Recipe Log is a web-based application designed for 
        cooking enthusiasts to log and organize their 
        recipes
     </p>
     {% if not user.is_authenticated %}
        <a class="btn btn-primary btn-lg mt-1" href="{% url 'accounts:register' %}">
          Register &raquo;
        </a>
      {% endif %}
    </div>
  </div>

  
 {% endblock page_header %}
