{% extends 'recipe_log/base.html' %}

{% block page_header %}
  <h1>{{recipe.text}}</h1>
{% endblock page_header %}

{% block content %}

    <p>
      <a href="{% url 'recipe_log:new_recipe_details' recipe.id %}">Add new recipe</a>
    </p>
  {% for details in recipe_details %}
    <div class="card mb-3">
      <h4 class="card-header">
        <small><a href="{% url 'recipe_log:edit_recipe_details' recipe.id %}">
          Edit recipe</a></small>
      </h4>
      <div class="card-body">{{ details.text }}</div>
      <form action="{% url 'recipe_log:delete_recipe' recipe.id%}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" onclick="return confirm
        ('Are you sure you want to delete this recipe?');">Delete</button>
      </form>
    </div>  
  {% endfor %}

{% endblock content %}
